/*------------------ Fuentes ------------------*/
@font-face {
      font-family: 'Yanone Kaffeesatz';
      src: url('../textFonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../textFonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	
	/* font-weight:700; */
} 

body {
	font-family: 'Open Sans', sans-serif;
}


* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

/*------------------ Estilos del header ------------------*/
header {
	/*width: 100%;*/
	height: 60px;
	/*font-size: 30px;*/
	/*background: #333;*/
	/*color: #fff;*/
}

header .contenedor {
	display: flex;
	justify-content: space-between;
}

.logo, .icon-bars{
	margin: 5px;
}

/*Para modificar el icono de barras descargado de internet*/

.icon-bars {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: #2E1760;
	color: #fff;
	text-align: center;
	line-height: 45px;
	border-radius:5px;
	margin-left: auto;
	cursor: pointer;
}

/*------------------ Estilos del body ------------------*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*------------------ Estilos del menu ------------------*/
nav {
	position: absolute;
	top: 60px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;

}

.menu__link {
	display: block;
	padding: 20px;
	background: #2E1760;
	text-decoration: none;
	color: #fff;
}

.menu__link:hover {
	background: #fff;
	color: #2E1760;
}

.mostrar {
	left: 0;
}


/*Este solo lo deje para realizar unas pruebas*/

.icon-1 {
	display:inline-block;
	width: 300px;
  height: 300px;
  background: url("../images/logotest.png") 0 0 no-repeat; 
  background-size: 100px 300px;
}